<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="help-container">
      <div class="main-title"> 
        <h1 data-aos="fade-up"
        data-aos-duration="3000"> Ajuda ao usuário</h1>
      </div>
      <div class="buy-help">
        <div class="subtitle">
          <h1 class="subtitle-content" data-aos="fade-up"
          data-aos-duration="3000"> Como eu realizo uma compra?</h1>
        </div>
        <div class="help-list"data-aos="fade-up"
        data-aos-duration="3000">
          <ol class="list">
            <li class="item">1. Acesse sua conta através da plataforma. Caso não tenha conta será necessário realizar o cadastro;</li>
            <li class="item">2. Escolha uma das engines disponíveis para a compra;</li>
            <li class="item">3. Clique na opção “Adquira já”;</li>
            <li class="item">4. Selecione o plano desejado;</li>
            <li class="item">5. Escolha qual um método de pagamento;</li>
            <li class="item">6. Clique em “Finalizar”.</li>
          </ol>
        </div>
      </div>
      <div class="password-help">
        <div class="subtitle">
          <h1 class="subtitle-content" data-aos="fade-up"
          data-aos-duration="3000"> Esqueci a minha senha, o que devo fazer?</h1>
        </div>
        <div class="help-list"data-aos="fade-up"
        data-aos-duration="3000">
          <ol class="list">
            <li class="item">1. Na tela de login, clique em “Clique aqui” abaixo do botão de “Entrar”;</li>
            <li class="item">2. Informe seu email, na qual foi criada a conta;</li>
            <li class="item">3. Será enviado um email, para que possa alterar para uma nova senha.</li>
          </ol>
        </div>
      </div>
      <div class="contact-help">
        <div class="subtitle">
          <h1 class="subtitle-content" data-aos="fade-up"
          data-aos-duration="3000"> Quero entrar em contato com a empresa, é possível?</h1>
        </div>
        <div class="help-list"data-aos="fade-up"
        data-aos-duration="3000">
          <ol class="list">
            <li class="item">1. No menu selecione a opção “Sobre Nós”;</li>
            <li class="item">2. No final da página haverá um formulário, que deverá ser preenchido;</li>
            <li class="item">3. Clique em “Enviar”</li>
          </ol>
        </div>
      </div>
    </div>
<div class="footer">
    <app-footer></app-footer>
</div>  
</body>
</html>